!media/profile-image/no-img.jpeg
!media/profile-image/thumbs/no-img.jpeg
db
__pycache__
testdb
phpmyadmin
media/profile-image/*
media/file/*
!.gitkeep
*.log

*.env
.idea

!apps/data/migrations/__init_.py
!apps/user/migrations/__init_.py

apps/data/migrations/*
apps/user/migrations/*